{% extends 'base.html' %}

{% block content %}
    <div class="col-12 mt-3 d-flex align-items-center">
        <h1 class="mb-0 mb-2">New Question</h1>
    </div>

    <div class="col-lg-10 mx-auto">
        <form>
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="Enter your question title" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="text" class="col-sm-2 col-form-label">Question Text</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="text" rows="5" placeholder="Enter your question text" required></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="tags" class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tags" placeholder="Enter tags separated by commas" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-secondary">Ask!</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}