{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'create' %}"><button class="btn btn-primary ">Create question</button></a>
        </div>
        <div class="col">
            <a href="{% url 'hot' %}"><button class="btn btn-danger">Hot</button></a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 mt-3 d-flex align-items-center">
        <h1 class="mb-0 mr-2">Questions</h1>
    </div>


    <div class="col-lg-10  ml-auto">
        {% for question in questions %}

        {% include 'components/question-item.html'%}

        {% endfor %}

        {% include 'components/pagination.html' %}
    </div>



    {% endblock content %}