
{% extends 'base.html' %}

{% block content %}
{% load static %}


    <div class="col-12 mt-3 d-flex align-items-center">
        {% if popular %}
            <h1 class="mb-0 mr-2">The most popular questions</h1>
        {% elif tag %}
            <h1 class="mb-3">Questions with Tag: {{ tag }}</h1>
        {% else %}
            <h1 class="mb-0 mr-2">Questions</h1>
            <a href="{% url 'hot' %}" class="badge badge-danger">The most popular</a>
        {% endif %}
    </div>
    <div class="col-lg-10  ml-auto">
        {% for question in questions %}
            {% include 'question_block.html' %}
        {% endfor %}
        <nav aria-label="Page navigation example" class="d-flex justify-content-start">
            <div class="pagination">
                <span class="step-links">
                    {% if questions.has_previous %}
                         <a href="?page=1">&laquo; first</a>
                         <a href="?page={{ questions.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
                    </span>
                    {% if questions.has_next %}
                        <a href="?page={{ questions.next_page_number }}">next</a>
                        <a href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </nav>
    </div>



{% endblock %}